{% extends 'base.html' %}

{% block header %}Create New Post{% endblock %}

{% block content %}
    <form id="create-post-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        
        <div class="form-group">
            <label for="slug">Slug</label>
            <input type="text" id="slug" name="slug" readonly>
        </div>
        
        <div class="form-group">
            <label>Content</label>
            <div id="editor" style="height: 300px;"></div>
        </div>
        
        <button type="submit">Create Post</button>
    </form>
{% endblock %}

{% block extra_css %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/static/js/editor.js"></script>
    <script src="/static/js/admin.js"></script>
{% endblock %}